<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>The Irreverent Scraper</title>
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/style.css">
  </head>

  <body>
  
    <!-- navigation -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/" class="brand-logo"><i class="material-icons">autorenew</i> The Irreverent Scraper</a>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://www.theonion.com/" target="_new">Onion News</a></li>
            
          </ul>
        </div>
      </nav>
    </div>

    <!-- mobile navigation -->
    <ul class="side-nav darken-3" id="mobile-demo">
      <li><a href="https://www.theonion.com/" target="_new">Onion News</a></li>
    </ul>


    <!-- main content -->
    <main> 

      <!-- header type of info -->
      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header grey lighten-2"><h4><b>Welcome to The Irreverent Scraper!</b></h4></li>
          <li class="collection-item">Find, read and comment on irreverent news from the web.</li>
          <li class="collection-item"><div>Click <i class="material-icons">autorenew</i> in the navbar to re-scrape data.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">pageview</i> to view an article.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">note_add</i> to add a comment.</div></li>
          <li class="collection-item"><div>Click <i class="material-icons">comment</i> to read comments.</div></li>
        </ul>
      </div>


      <!--display articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>


    <!-- Footer -->
    <footer class="page-footer grey darken-3">
      <div class="footer-copyright">
        <div class="container">
        © No content came from author.  All articles were web scraped from 
        <a class="grey-text text-lighten-4" href="http://www.theonion.com/">www.theonion.com</a>
        </div>
      </div>
    </footer>



    <!-- Link in jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Javascript -->
    <script type="javascript" src="views/app.js"></script>
    
  </body>

</html>